*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-image: url('photos/background.png');
    background-color: rgb(231,148,100);
    position: relative;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: rgba(255,255,255,0.45);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);        
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;  
    overflow: hidden;
}

.main {
    display: grid;
    text-align: center;
    margin: 3rem;
    margin-top: 7rem;
    color: #000000;
}

ul{
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: auto;
}

li {
    float: left;
}
    
li a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 1.4rem 4rem;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 00;
}

.blocks {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-inline: 15%;
}

.block {
    background-color: rgba(255, 255, 255, 0.45);
    height: 500px;
    padding: 3rem;
}