*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-image: url('photos/background.png');
    background-color: rgb(231,148,100);
    position: relative;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: rgba(255,255,255,0.45);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);        
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;  
    overflow: hidden;
}

.main {
    display: grid;
    text-align: center;
    margin: 3rem;
    color: #ffffff;
}

ul{
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: auto;
}

li {
    float: left;
}
    
li a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 1.4rem 4rem;
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.blocks {
    display: grid;
    row-gap: 2rem;
    margin-inline: 10%;
    position: inherit;
}

.block {
    position: inherit;
    background-color: rgba(255, 255, 255, 0.45);
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

img {
    /* width: 25rem;
    height: 25rem; */
    object-fit: contain;
    
}

/* img:hover {
    transition: width 0.6s ease;
    transition: height 0.6s ease;
    width: 120%;
    height: 120%;
} */

.photoinfo {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.photoinfo img {
    display: block;
    margin: 0 auto; 
}

.photoinfo p {
    width: 70%; 
    margin: 0 auto; 
    padding-top: 1rem;
    font-size: 0.9rem; 
    color: #000000;
    transition: opacity 200ms, display 200ms;
    display: none;
}

.photoinfo:hover p{
    display: block;
}

.photoinfo:hover {
    transform: scale(1.2);
}

.wildlife {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wildlife p {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
}